
.tsugi-threads-title {
    font-size: 2em;
}

.tsugi-tdiscus-search-sort {
    padding: 10px;
    width: 100%;
}

.tsugi-tdiscus-sort {
  display: inline-block;
  vertical-align: middle;
}

.tsugi-tdiscus-search {
    display: inline-block;
    float: right;
}


.tsugi-threads-list {
    border: 1px grey solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tsugi-thread-item {
    padding: 10px;
    border: 1px grey solid;
    display: flex;
}

.tsugi-thread-item-left {
    flex: 1;
}

.tsugi-thread-item-right {
    margin-right: 20px;
}

.tsugi-thread-item-title {
    font-size: 1.5em;
}

.tsugi-staff-created {
    color: #8a6219;
    background-color: #ece9e3;
    padding: 2px 8px;
}

.tsugi-staff-read {
    color: #8a6219;
    background-color: #ece9e3;
    padding: 2px 8px;
}

.tsugi-staff-answer {
    color: #8a6219;
    background-color: #ece9e3;
    padding: 2px 8px;
}

.tsugi-thread-owned-menu {
    font-size: 0.66em;
    padding: 10px;
}

.tsugi-thread-title {
    font-size: 2em;
}
