
.tdiscus-threads-title {
    font-size: 2em;
}

.tdiscus-threads-search-sort {
    padding: 10px;
    width: 100%;
}

.tdiscus-threads-sort {
  display: inline-block;
  vertical-align: middle;
}

.tdiscus-threads-search {
    display: inline-block;
    float: right;
}


.tdiscus-threads-list {
    border: 1px grey solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tdiscus-thread-item {
    padding: 10px;
    border: 1px grey solid;
    display: flex;
}

.tdiscus-thread-item-left {
    flex: 1;
}

.tdiscus-thread-item-right {
    margin-right: 20px;
}

.tdiscus-thread-item-title {
    font-size: 1.5em;
}

.tdiscus-staff-created {
    color: #8a6219;
    background-color: #ece9e3;
    padding: 2px 8px;
}

.tdiscus-staff-read {
    color: #8a6219;
    background-color: #ece9e3;
    padding: 2px 8px;
}

.tdiscus-staff-answer {
    color: #8a6219;
    background-color: #ece9e3;
    padding: 2px 8px;
}

.tdiscus-thread-owned-menu {
    font-size: 0.66em;
    padding: 10px;
}

.tdiscus-thread-container {
    padding: 10px;
    border: 1px grey solid;
}

.tdiscus-thread-title {
    font-size: 2em;
}

.tdiscus-thread-body {
}

.tdiscus-comment-container {
}

.tdiscus-comments-list {
    padding: 10px;
    border: 1px grey solid;
}

.tdiscus-add-comment-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px grey solid;
}

