<div id="threads-div"><img src="{{ tsugi.spinnerUrl }}"></div>
<script>
    $.getJSON(addSession('threads'), function(threads) {
        window.console && console.log(threads);
        context = { 
            'tsugi' : _TSUGI,
            'tdiscus' : _TDISCUS,
            'threads' : threads
        };
        tsugiHandlebarsToDiv('threads-div', 'nothreads', context);
    }).fail( function() { alert('getJSON fail'); } );
</script>
