<p id="alert-success" class="alert alert-success alert-dismissable" style="display:none;">
  <a href="#" class="close" onclick="$('#alert-success').hide();return false;" aria-label="close">&times;</a>
  <span id="alert-success-text"></span>
</p>
<p id="alert-warning" class="alert alert-warning alert-dismissable" style="display:none;">
  <a href="#" class="close" onclick="$('#alert-warning').hide();return false;" aria-label="close">&times;</a>
  <span id="alert-warning-text"></span>
</p>
<p id="alert-danger" class="alert alert-danger alert-dismissable" style="display:none;">
  <a href="#" class="close" onclick="$('#alert-danger').hide();return false;" aria-label="close">&times;</a>
  <span id="alert-danger-text"></span>
</p>
