{{#if tsugi.instructor }}
    <p>{{__ 'Time to create the form' }}</p>
    <script>console.log('Hi instructor');</script>
{{else}}
    <p>{{__ 'This thread has not yet been created' }}</p>
    <script>console.log('Hi student');</script>
{{/if}}
